@import 'src/assets/styles/_colors.scss';
.task-card {
    font-size: 13px;
    width: 250px;
    height: 130px;
    background: linear-gradient(180deg, $secondary-default-color, $primary-default-color);
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    margin-bottom: 15px;
    margin-left: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    color: white;
}
.task-card:hover {
  background: linear-gradient(180deg, $primary-default-color, $secondary-default-color );
}
.completed {
  position:absolute;
  bottom: 0;
  margin-bottom: 10px;
  font-size: 15px;
}
.button-status{
  background-color:rgb(99, 89, 89);
  padding: 3px;
  border-radius: 3px;
  cursor: pointer;
}
.task-id {
  margin-bottom: 5px;
}
