.task-card {
    font-size: 13px;
    width: 250px;
    height: 130px;
    background: linear-gradient(180deg, #7d7d85e7, #0f0f0f6b);
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    margin-bottom: 35px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    position: relative;
    color: white;
}
.completed {
  position:absolute;
  bottom: 0;
  margin-bottom: 10px;
  font-size: 15px;
}

.task-id {
  margin-bottom: 5px;
}
