@import 'src/assets/styles/_colors.scss';
.task-card {
    font-size: 13px;
    width: 250px;
    height: 130px;
    background: linear-gradient(180deg, $secondary-default-color, $primary-default-color);
    box-shadow: 0px 24px 32px -8px $color-shadow;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-left: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    color: $standard-color-white;
}
.task-card:hover {
  background: linear-gradient(180deg, $primary-default-color, $secondary-default-color );
}
.completed {
  position:absolute;
  bottom: 0;
  margin-bottom: 10px;
  font-size: 15px;
}
.button-status{
  width: 100px;
  background-color: $color-button-background;
  padding: 3px 15px;
  margin-left: 10px;
  border-radius: 3px;
  cursor: pointer;
}
.task-id {
  margin-bottom: 5px;
}

.completed-false {
  background: linear-gradient(180deg, $color-task-false-primary, $primary-default-color);
}
.completed-false:hover{
  background: linear-gradient(180deg, $primary-default-color, $color-task-false-primary);
}
